<mat-toolbar color="primary" class="navbar">
  <button mat-button (click)="goToHome()" class="logo">
    <mat-icon>store</mat-icon>
    {{ title }}
  </button>

  <span class="spacer"></span>

  <button mat-button *ngIf="!authService.isLoggedIn" routerLink="/login">Login</button>
  <button mat-button *ngIf="authService.isLoggedIn" (click)="authService.logout()">Logout</button>

  <button mat-icon-button (click)="goToCheckout()">
  <mat-icon [matBadge]="cartService.count()" matBadgeColor="warn">shopping_cart</mat-icon>  </button>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>