services:
  db:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: shop
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    environment:
      DATABASE_URL: postgres://admin:admin@db:5432/shop
      RAILS_MASTER_KEY: "tua_chiave_segreta_generata_con_rails_secret"
    ports:
      - "3000:3000"
    depends_on:
      - db
    volumes:
      - ./backend:/rails

  frontend:
    build: ./frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  postgres_data: