services:
  db:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: shop
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d shop"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    environment:
      RAILS_ENV: development
      DATABASE_URL: postgres://admin:admin@db:5432/shop
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/rails
      - gem_cache:/usr/local/bundle   # cache gemme
    depends_on:
      db:
        condition: service_healthy
    command: ["./bin/rails", "server", "-b", "0.0.0.0"]
    #entrypoint: ["/bin/bash", "-c", "sleep infinity"]

  frontend:
    build: ./frontend
    security_opt:
      - seccomp:unconfined
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app            
      - /app/node_modules
    depends_on:
      - backend
    user: "1000:1000"

volumes:
  postgres_data:
  gem_cache: