.container {
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.product-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    height: 200px;
    object-fit:contain;
  }

  .description {
    height: 100px;
    margin-top: 10px;
    color: #666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow-y: auto;    
  }
}

.original-price {
  text-decoration: line-through;
  margin-right: 10px;
  color: #999;
}

.sale-price {
  color: #d32f2f;
  font-weight: bold;
}